$primary: #FFBE0B;
$secondary: #000000;
// $success : #3A86FF;
// $info : #FF006E;
// $light : #8338EC;
// body>div.container>main>div>div>table>tbody>tr>td.balance-result.green {
//     background-color: #000000!important;
//     color: #80f894!important;
//     font-weight: bold;
// }
// body>div.container>main>div>div>table>tbody>tr>td.balance-result.red {
//     background-color: #000000!important;
//     color: #FFBE0B!important;
//     font-weight: bold;
// }
.title-center {
    text-align: center;
    background-color: #070707;
    color: #FFBE0B;
    margin: 5px;
}

.box-trade-total {
    background-color: #000000;
    color: #FFBE0B;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ffffff;
    vertical-align: middle;
    border-radius: 4px;
    padding: 5px;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-token {
    max-width: 70px;
    padding: 5px;
}

#contain-wallet-table {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-token-box {
    display: flex;
    justify-content: center;
}

.box-trades {
    border: 1px solid #000000;
    border-radius: 4px;
}

body {
    background-color: rgb(32, 32, 32)!important;
    color: white!important;
}